<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrapcss")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/estilo")
</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="container">

                <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/Home"">Home</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">

                                <li class="active"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Bus</a>

                                    <ul class="dropdown-menu">
                                        <li><a href="/Home">Home</a></li>
                                        <li><a href="/Default1">Mantenimiento Bus</a></li>
                                    </ul>
                                </li>
                                <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Administrador</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/Home">Home</a></li>
                                        <li><a href="/Student">Student</a></li>                                  
                                        <li><a href="/PersonalInChearge">Personal in chearge</a></li>
                                        <li><a href="/School">School</a></li>
                                        </ul>
                                </li>
                                <li><a href="#">Copiloto</a>


                                </li>
                            </ul>

                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>
            </div>
        </div>
    </div>
    <div class="span9">
        @RenderSection("featured", required: false)
        <div class="row-fluid">
            @RenderBody()
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrapjs")
    @Scripts.Render("~/bundles/jqueryval")

    @RenderSection("scripts", required: false)

</body>
</html>
